.nav-links{
  position: sticky;
  margin-left: auto;
  margin-top: 0;
  right: 0;
  top: 0;
  margin-right: 25px;
 }
 .nav-links span{
    padding: 10px;
    color: var(--primary)-dark;
    font-weight: bold;
    font-size: 14px;
 }
 .nav-links span:hover, .nav-links .active{
   transition: 1s ease-in;
   border-bottom: 1px solid #646cff;
 }
.nav{
  display: grid;
  position: fixed;
  margin-right: auto;
  margin-left: 3px;
 }
  .nav div{
    margin-left: 5px;
    border-left: 2px solid #797979;
    height: 20vh
 }
 .nav i{
    margin-bottom: 10px;
    font-size: 30px;
 }


.top{
  width: 90vw;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  margin: 5vw;
}
.top .title{
    margin-left: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #797979;
  }
  .top .title h1{
      color: var(--primary)-dark;
  }
  .top .title b, .top .title p{
      color: var(--white);
  }

.quote{
  margin: auto;
  margin-top: 40px;
  border: 1px solid var(--primary);
  width: 50vw;
  padding: 15px;
  font-style: italic;
 }
 .quote b{
    font-size: 100px;
    line-height: 0;
 }

 .skills{
    display: block;
    width: 65vw;
    margin-top: 40px;
    margin-left: auto;
  }
  .skill{
    display: flex;
    flex-direction: column;
    border: 1px solid #1A1B1D;
    margin-right: 5px;
    font-family: 'Fira Code';
    font-size: smaller;
    font-weight: 100;
   }
   .skill p{
    border-bottom: 1px solid#1A1B1D;
    flex: 1;
   }
   .skill .names{
    width: 200px;
    min-height: 50px;
    flex: 10;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 0;
    }
    .skill .names span{
      margin-left: 3px;
    }
.bottomLine{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  color: var(--primary);
  gap: 15px;
 }
 .bottomLine div{
    margin-top: 35px;
    width: 25vw;
    border-top: 2px solid var(--primary);
 }
.bottom{
  margin-left: 15px;
  width: 45vw;
  font-size: 20px;
  font-weight: 500;
}
.contacts {
  margin: 0 auto;
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 100px;
  }
  .contacts p {
    margin: 5px 0;
  }
  .contacts a {
    margin-left: 4px;
    color: #646cff;
    text-decoration: none;
    font-weight: bold;
  }
  .contacts a:hover {
    text-decoration: underline;
  }
.footer{
  margin-top: 80px;
  border-top: 1px solid #797979;
  text-align: center;
}

.uiux-container {
  margin-top: -30px;
  width: 100vw;
  min-height: 100vh;
  background: #13120f; 
  padding: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
  }
  
  .big-title {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }
    .big-title .circle{
      padding: 5px;
      border: 1px solid;
      border-radius: 50px;
    } 
    .dotes {
      height: 250px;
      width: 20vw;
      position: absolute;
      margin-top: 10%;
      right: 23vw;
      z-index: 0;
      border-color: #797979;
      border-style: dashed;
      border-width: 1px 1px 0px 0px;
      border-top-right-radius: 30px;
    }
  .designer-svg{
    position: absolute;
    left: 17vw;
    margin-top: -5%;
  }
  .subheading {
    font-size: 100px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    text-align: right; 
    gap: 5px;
    width: fit-content; 
    margin: 0 auto; 
    padding-left: 240px;
    }
    .dotes-reverse {
      height: 100px;
      width: 20vw;
      margin-top: 0;
      left: 23vw;
      z-index: 0;
      border-color: #797979;
      border-style: dashed;
      border-width: 0px 0px 1px 1px;
      border-bottom-left-radius: 30px;
    }
    .designer {
      font-style: italic;
      font-size: 100px;
      font-weight: bold;
      text-decoration: underline;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      color: #F5E8C7;
      line-height: 30px;
      margin-right: 35px;
    }
    .creative {
      font-size: 36px;
      font-weight: normal;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      color: #F5E8C7;
    }
  .marquee-container {
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    }
    .marquee {
      display: flex;
      gap: 100px;
      white-space: nowrap;
      animation: scroll 10s linear infinite;
      font-size: 20px;
      font-weight: bold;
      }
      .marquee .marquee-group{
        gap: 10px;
      }

@keyframes scroll {
  from { transform: translateX(0%); }
  to { transform: translateX(-50%); }
}


@media (max-width: 648px) {
    .top{
      grid-template-columns: auto;
    }
    .top .title h1{
      font-size: 20px;
    }
    .dotes{
      display: none;
      border: none;
    }
}

@media (prefers-color-scheme: light) {
  .nav-links span{
    color: #2b2b2b
  }
  .top .title h1{
    color: var(--primary);
  }
  .top .title b, .top .title p{
      color: var(--gray);
  }
  .uiux-container {
    background: #F5E8C7; 
  }
}