.nav{
  display: grid;
  position: fixed;
  margin-top: -5vw;
  margin-right: auto;
  margin-left: -3vw;
 }
  .nav div{
    margin-left: 5px;
    border-left: 2px solid #797979;
    height: 20vh
 }
 .nav i{
    margin-bottom: 10px;
    font-size: 30px;
 }


.top{
  width: 90vw;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
}
.top .title{
    margin-left: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #797979;
  }
  .top .title h1{
      color: var(--primary)-dark;
  }
  .top .title b, .top .title p{
      color: var(--white);
  }

.quote{
  margin: auto;
  margin-top: 40px;
  border: 1px solid var(--primary);
  width: 50vw;
  padding: 15px;
  font-style: italic;
 }
 .quote b{
    font-size: 100px;
    line-height: 0;
 }

 .skills{
    display: block;
    width: 65vw;
    margin-top: 40px;
    margin-left: auto;
  }
  .skill{
    display: flex;
    flex-direction: column;
    border: 1px solid #1A1B1D;
    margin-right: 5px;
    font-family: 'Fira Code';
    font-size: smaller;
    font-weight: 100;
   }
   .skill p{
    border-bottom: 1px solid#1A1B1D;
    flex: 1;
   }
   .skill .names{
    width: 200px;
    min-height: 50px;
    flex: 10;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: end;
    margin-bottom: 0;
    }
    .skill .names span{
      margin-left: 3px;
    }
.bottomLine{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  color: var(--primary);
  gap: 15px;
 }
 .bottomLine div{
    margin-top: 35px;
    width: 25vw;
    border-top: 2px solid var(--primary);
 }
.bottom{
  margin-left: 15px;
  width: 45vw;
  font-size: 20px;
  font-weight: 500;
}
.contacts {
  margin-top: 15px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  float: left;
  display: flex;
  justify-content: space-evenly;
  }
  .contacts p {
    margin: 5px 0;
  }
  .contacts a {
    margin-left: 4px;
    color: #646cff;
    text-decoration: none;
    font-weight: bold;
  }
  .contacts a:hover {
    text-decoration: underline;
  }
.footer{
  margin-top: 80px;
  border-top: 1px solid #797979;
  text-align: center;
}

@media (max-width: 648px) {
    .top{
      grid-template-columns: auto;
    }
    .top .title h1{
      font-size: 20px;
    }
}

@media (prefers-color-scheme: light) {
  .top .title h1{
    color: var(--primary);
  }
  .top .title b, .top .title p{
      color: var(--gray);
  }
}